
{% extends "::base.html.twig" %}
{% block title %}Homepage{% endblock %}

{% block body %}
<div class="connexion">
  <div class="newlog">Inscription</div>
  <div class="loggin">

    {# On affiche les messages flash que définissent les contrôleurs du bundle #}
    {% for key, messages in app.session.flashbag.all() %}
      {% for message in messages %}
        <div class="alert alert-{{ key }}">
          {{ message|trans({}, 'FOSUserBundle') }}
        </div>
      {% endfor %}
    {% endfor %}
    {# On définit ce block, dans lequel vont venir s'insérer les autres vues du bundle #}
    {% block fos_user_content %}
        <p>{{ 'Terminer votre inscription en paramétrant votre espace personnel'|trans({'%username%': user.username}, 'FOSUserBundle') }}</p>
        {% if targetUrl %}
        <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans({}, 'FOSUserBundle')  }}</a></p>
        {% endif %}
    {% endblock fos_user_content %}

  </div>
  <div class="logwith fbk"><a href="{{ path('nnp_platform_creerNdem') }}">Postez votre 1er sujet</a></div>
  <div class="logwith gml"><a href="{{ path('nnp_platform_editerProfil') }}">Parametrez votre espace</a></div>
</div>

{% endblock %}
