<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('bundles/nnpplatform/css/full-slider.css') }}" type="text/css" /> 
        <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/nnpplatform/css/main.css') }}" type="text/css" />
        {# {% stylesheets "{{ asset('bundles/nnpplatform/css/main.css') }}"  %}
          <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %} #}
    </head>
    <body>
        {% block entete %}
        <div class="container-fluid">
            <section class="top-header">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-6 ">
                        <ul class="nav navbar-nav top-menu">
                          <li><a href="{{ path('nnp_platform_presentation') }}">Qui sommes-nous ?</a></li>
                          <li><a href="#">Comment ça marche !</a></li>
                          <li><a href="#">Nous contacter</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 reseaux">
                        <!-- <div class="icon"><img src="{{ asset('bundles/nnpplatform/images/facebook.png')}}" /></div>
                        <div class="icon"><img src="{{ asset('bundles/nnpplatform/images/twitter.png')}}" /></div> -->
                        <div class="info-user">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                {% block menuUser %}
                                {% endblock %}
                            {% else %}
                                <ul class="nav navbar-nav">
                                    <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </section>
        </div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="container-fluid">
            <header class="header">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-6"><a href="{{ path('nnp_platform_homepage') }}"><img src="{{ asset('bundles/nnpplatform/images/logo.png')}}" width="300px" /></a></div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2"></div>
                </div>
            </header>
        </div>
        {% else %}
            <header id="myCarousel" class="carousel slide">
                {# <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-6"><a href="{{ path('nnp_platform_homepage') }}"><img src="{{ asset('bundles/nnpplatform/images/logo.png')}}" width="300px" /></a></div>
                    <div class="col-md-4">

                    </div>
                </div> #}
                <div class="logo">
                    <a href="{{ path('nnp_platform_homepage') }}"><img src="{{ asset('bundles/nnpplatform/images/logo.png')}}" width="300px" /></a>
                </div>
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for Slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <!-- Set the first background image using inline CSS below. -->
                        <div class="fill" style="background-image:url('http://localhost/nendempas/web/bundles/nnpplatform/images/slide1.jpg');"></div>
                        <div class="carousel-caption">
                            <h2></h2>
                        </div>
                    </div>
                    <div class="item">
                        <!-- Set the second background image using inline CSS below. -->
                        <div class="fill" style="background-image:url('http://localhost/nendempas/web/bundles/nnpplatform/images/slide2.jpg');"></div>
                        <div class="carousel-caption">
                            <h2></h2>
                        </div>
                    </div>
                    <div class="item">
                        <!-- Set the third background image using inline CSS below. -->
                        <div class="fill" style="background-image:url('http://localhost/nendempas/web/bundles/nnpplatform/images/slide3.jpg');"></div>
                        <div class="carousel-caption">
                            <h2></h2>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="icon-prev"></span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="icon-next"></span>
                </a>

                {% block connexion %}
                {% endblock %}
            </header>
        {% endif %}
        {% endblock %}

        {% block bande %}
        {% endblock %}

        {% block body %}
        {% endblock %}

        {% block footer %}
        <div class="container-fluid">
            <section class="footer">
                <div class="row">
                    <div class="col-lg-12 alignCenter">Copyright 2016 - nendemplus.com | contact@nendemplus.com</div>
                </div>
            </section>
        </div>
        {% endblock %}
        
        {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="{{ asset('bundles/nnpplatform/js/bootstrap.min.js') }}" ></script>
        <script src="{{ asset('bundles/nnpplatform/bootstrap/js/main.css') }}"></script>
        <!-- Script to Activate the Carousel -->
        <script>
        $('.carousel').carousel({
            interval: 3000 //changes the speed
        })
        </script>
        {% endblock %}
    </body>
</html>
