{% extends "NNPAdminBundle::template.html.twig" %}
{% block title %}Homepage{% endblock %}
{% block menuUser %}
<ul class="nav navbar-nav">
    <li class="dropdown"> 
        <a data-toggle="dropdown" href="#">{{ app.user.username }}  <b class="caret"></b></a>
        <ul class="dropdown-menu jqueryFadeIn">
            <li><a href="{{ path('nnp_platform_modifierPassword') }}">Modifier le mot de passe</a></li>        
            <li class="divider"></li>
            <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
        </ul>
    </li> 
</ul>
{% endblock %}

{% block bodyAdmin %}
<div class="container-fluid bodyAdmin">
	<section class="profil">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10 center">
				<h1>Gestion des profils</h1>
				<div>
					<table id="table-platform" class="display table table-striped table-bordered" cellspacing="0" width="100%" data-order='[[ 1, "asc" ]]' data-page-length='25'>
						<thead>
							<tr>
								<th>N°</th>
								<th>Nom</th>
								<th>Description</th>
								<th>Date de Creation</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for profil in profils %}
								<tr>
									<td>{{ profil.id }}</td>
									<td>{{ profil.nom }}</td>
									<td>{{ profil.description }}</td>
									<td>{{ profil.dateCreation|date('d-m-Y H:i') }}</td>
									<td>
										{# <a href="{{ path('nnp_admin_editerProfil', {'id': profil.id })}}">Editer</a><br/>
										<a href="#">Supprimer</a> #}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>

				<div>
					<a href="{{ path('nnp_admin_creerProfil') }}">Créer un profil</a>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</section>
	
</div>
{% endblock %}
