{% extends "NNPPlatformBundle::template.html.twig" %}
{% block title %}Homepage{% endblock %}
{% block menuUser %}
<ul class="nav navbar-nav">
    <li class="dropdown"> 
        <a data-toggle="dropdown" href="#">{{ app.user.username }}  <b class="caret"></b></a>
        <ul class="dropdown-menu jqueryFadeIn">
            <li><a href="{{ path('nnp_platform_profil', {'id': app.user.id }) }}">Mon profil</a></li>
            <li><a href="{{ path('nnp_platform_mesNdems') }}">Consulter mes ndems</a></li>
            <li><a href="{{ path('nnp_platform_creerNdem') }}">Créer un ndem</a></li>
            <li><a href="{{ path('nnp_platform_modifierPassword') }}">Modifier le mot de passe</a></li>        
            <li class="divider"></li>
            <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
        </ul>
    </li> 
</ul>
{% endblock %}
{% block body %}
<div class="container">
	<section class="profil">
		<div class="row">
			<div class="col-md-4 sidebar">
				<div class="photo">
					<img src="{{ asset('uploads/images/photoProfil/' ~ app.user.photo) }}" width="100%" />
				</div>
				<div class="identite">
					<div class="nom">
					{% if app.user.pseudo == 0 %}
						{{ app.user.prenom }} {{ app.user.nom|upper }}
					{% endif %}
					</div>
					<div class="nom"><span class="intitule">Pseudo : </span><b>{{ app.user.username }}</b></div>
					
				</div>
				<div class="liens">
					<button onclick="location.href='{{ path('nnp_platform_mesNdems') }}';">Voir tous mes sujets</button>
					<button onclick="location.href='{{ path('nnp_platform_creerNdem') }}';">Créer un nouveau sujet</button>
					<button onclick="location.href='{{ path('nnp_platform_editerProfil') }}';">Modifier mon profil</button>
					<button onclick="location.href='{{ path('nnp_platform_modifierPassword') }}';">Modifier le mot de passe</button>
				</div>
				
			</div>
			<div class="col-md-8 center">
				<h1>Mise à jour de mon profil</h1>
				<div class="formulaire">
				  	{{ form(form) }}
				</div>
			</div>
		</div>
	</section>
</div>
{% endblock %}