{% extends "NNPPlatformBundle::template.html.twig" %}
{% block title %}Homepage{% endblock %}
{% block menuUser %}
<ul class="nav navbar-nav">
    <li class="dropdown"> 
        <a data-toggle="dropdown" href="#">{{ app.user.username }}  <b class="caret"></b></a>
        <ul class="dropdown-menu jqueryFadeIn">
            <li><a href="{{ path('nnp_platform_profil', {'id': app.user.id }) }}">Mon profil</a></li>
            <li><a href="#">Consulter mes ndems</a></li>
            <li><a href="#">Créer un ndem</a></li>        
            <li class="divider"></li>
            <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
        </ul>
    </li> 
</ul>
{% endblock %}
{% block body %}
<div class="container">
	<section class="profil">
		<div class="row">
			<div class="col-md-4 sidebar">
				<div class="photo">
					<img src="{{ asset('bundles/nnpplatform/images/profil_homme.jpg')}}" width="100%" />
				</div>
				<div class="identite">
					<div class="nom">Arnaud FEMTCHOU</div>
					<div class="nom">Pseudo : <b>User</b></div>
					
				</div>
				<div class="divider"></div>
				<div class="liens">
					<button>Voir tous mes sujets</button>
					<button>Créer un nouveau sujet</button>
					<button onclick="location.href='{{ path('nnp_platform_editerProfil', {'id': app.user.id }) }}';">Modifier mon profil</button>
				</div>
				
			</div>
			<div class="col-md-8 center">
				<h1>Mise à jour de mon profil</h1>
				<div class="formulaire">
				  	{{ form(form) }}
				</div>
			</div>
		</div>
	</section>
</div>
{% endblock %}