{% extends "NNPPlatformBundle::template.html.twig" %}
{% block title %}Homepage{% endblock %}
{% block menuUser %}
<ul class="nav navbar-nav">
    <li class="dropdown"> 
        <a data-toggle="dropdown" href="#">{{ app.user.username }}  <b class="caret"></b></a>
        <ul class="dropdown-menu jqueryFadeIn">
            <li><a href="{{ path('nnp_platform_profil') }}">Mon profil</a></li>
            <li><a href="{{ path('nnp_platform_mesNdems') }}">Consulter mes ndems</a></li>
            <li><a href="{{ path('nnp_platform_creerNdem') }}">Créer un ndem</a></li>
            <li><a href="{{ path('nnp_platform_modifierPassword') }}">Modifier le mot de passe</a></li>        
            <li class="divider"></li>
            <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
        </ul>
    </li> 
</ul>
{% endblock %}

{% block body %}
<div class="container-fluid">
	<section class="home-1">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <a href="{{ path('nnp_platform_liste', {nom:'CARRIERE'}) }}">
                            <div class="theme carriere">
                                <div class="titre">CARRIERE</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{{ path('nnp_platform_liste', {nom:'NJOKA'}) }}">
                            <div class="theme njoka">
                                <div class="titre">NJOKA</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{{ path('nnp_platform_liste', {nom:'RELIGION'}) }}">
                            <div class="theme religion">
                                <div class="titre">RELIGION</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <a href="{{ path('nnp_platform_liste', {nom:'MODE'}) }}">
                            <div class="theme mode">
                                <div class="titre">MODE</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{{ path('nnp_platform_liste', {nom:'AMOUR'}) }}">
                            <div class="theme amour">
                                <div class="titre">AMOUR</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{{ path('nnp_platform_liste', {nom:'KWATT'}) }}">
                            <div class="theme kwatt">
                                <div class="titre">KWATT</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>  
            
        </div>
	</section>
</div>
{% endblock %}
