{% extends "NNPPlatformBundle::template.html.twig" %}
{% block title %}Homepage{% endblock %}
{% block body %}
<div class="container-fluid">
	<section class="home-1">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <a href="{{ path('nnp_platform_liste', {nom:'CARRIERE'}) }}">
                            <div class="theme carriere {% if maxNdem == 'carriere' %} maxNdem{% endif %}">
                                <div class="titre">CARRIERE</div>
                                <div class="info-categorie">{{ listeNdemsCarriere|length }} ndem(s) | {{ listeComCarriere }} réaction(s)</div>
                                <div class="info-ndemeur">
                                    {% for ndemeur in ndemeurCarriere %}
                                        {{ ndemeur.username }} |
                                    {% endfor %}
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{{ path('nnp_platform_liste', {nom:'NJOKA'}) }}">
                            <div class="theme njoka {% if maxNdem == 'njoka' %} maxNdem{% endif %}">
                                <div class="titre">NJOKA</div>
                                <div class="info-categorie">{{ listeNdemsNjoka|length }} ndem(s) | {{ listeComNjoka }} réaction(s)</div>
                                <div class="info-ndemeur">
                                    {% for ndemeur in ndemeurNjoka %}
                                        {{ ndemeur.username }} |
                                    {% endfor %}
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{{ path('nnp_platform_liste', {nom:'RELIGION'}) }}">
                            <div class="theme religion {% if maxNdem == 'religion' %} maxNdem{% endif %}">
                                <div class="titre">RELIGION</div>
                                <div class="info-categorie">{{ listeNdemsReligion|length }} ndem(s) | {{ listeComReligion }} réaction(s)</div>
                                <div class="info-ndemeur">
                                    {% for ndemeur in ndemeurReligion %}
                                        {{ ndemeur.username }} |
                                    {% endfor %}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <a href="{{ path('nnp_platform_liste', {nom:'MODE'}) }}">
                            <div class="theme mode {% if maxNdem == 'mode' %} maxNdem{% endif %}">
                                <div class="titre">MODE</div>
                                <div class="info-categorie">{{ listeNdemsMode|length }} ndem(s) | {{ listeComMode }} réaction(s)</div>
                                <div class="info-ndemeur">
                                    {% for ndemeur in ndemeurMode %}
                                        {{ ndemeur.username }} |
                                    {% endfor %}
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{{ path('nnp_platform_liste', {nom:'AMOUR'}) }}">
                            <div class="theme amour {% if maxNdem == 'amour' %} maxNdem{% endif %}">
                                <div class="titre">AMOUR</div>
                                <div class="info-categorie">{{ listeNdemsAmour|length }} ndem(s) | {{ listeComAmour }} réaction(s)</div>
                                <div class="info-ndemeur">
                                    {% for ndemeur in ndemeurAmour %}
                                        {{ ndemeur.username }} |
                                    {% endfor %}
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{{ path('nnp_platform_liste', {nom:'KWATT'}) }}">
                            <div class="theme kwatt {% if maxNdem == 'kwatt' %} maxNdem{% endif %}">
                                <div class="titre">KWATT</div>
                                <div class="info-categorie">{{ listeNdemsKwatt|length }} ndem(s) | {{ listeComKwatt }} réaction(s)</div>
                                <div class="info-ndemeur">
                                    {% for ndemeur in ndemeurKwatt %}
                                        {{ ndemeur.username }} |
                                    {% endfor %}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>  
            
        </div>
	</section>
</div>
{% endblock %}
