{% extends "NNPPlatformBundle::template.html.twig" %}
{% block title %}Homepage{% endblock %}
{% block menuUser %}
<ul class="nav navbar-nav">
    <li class="dropdown"> 
        <a data-toggle="dropdown" href="#">{{ app.user.username }}  <b class="caret"></b></a>
        <ul class="dropdown-menu jqueryFadeIn">
            <li><a href="{{ path('nnp_platform_profil', {'id': app.user.id }) }}">Mon profil</a></li>
            <li><a href="{{ path('nnp_platform_mesNdems') }}">Consulter mes ndems</a></li>
            <li><a href="{{ path('nnp_platform_creerNdem') }}">Créer un ndem</a></li>
            <li><a href="{{ path('nnp_platform_modifierPassword') }}">Modifier le mot de passe</a></li>        
            <li class="divider"></li>
            <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
        </ul>
    </li> 
</ul>
{% endblock %}
{% block body %}
<div class="container-fluid">
	<section class="profil bloclendem">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-6 center leNdem">
				<div>
					<h1>{{ ndem.titre }}</h1>
					<p class="date">
						<i>Posté le {{ ndem.dateCreation|date("d/m/Y") }} |
							Catégorie : 
							{{ ndem.categorie }}
                    	</i>
                    </p>
					<p class="texte">{{ ndem.texte|raw }}</p>
					{% if ndem.firstphoto != null or ndem.firstphoto != '' %}
						<p><img src="{{ asset('uploads/images/photoNdem/' ~ ndem.firstphoto) }}" width="100%" /></p>
					{% endif %}
					{% if ndem.secondphoto != null or ndem.secondphoto != '' %}
						<p><img src="{{ asset('uploads/images/photoNdem/' ~ ndem.secondphoto) }}" width="100%" /></p>
					{% endif %}
					
					{# <p class="nrbCom"><span>{{ comments|length }} </span><span class="intitule">commentaire(s)</span> | <span>{{ nbrCoach }} reaction(s) de coach(s) </span></p> #}
				</div>
				
				<div class="comment">
					
					{% for comment in comments %}
						<div class="leComment">
							<div class="date">{{ comment.dateCreation|date('d/m/Y h:i') }}</div>
							{% if comment.user.profil != 'COACH' %}
								<div class="user">{{ comment.user }} a dit : </div>
								<div class="post">{{ comment.commentaire }}</div>
							{% else %}
								<div class="userCoach">{{ comment.user }} a dit : </div>
								<div class="postCoach">{{ comment.commentaire }}</div>
							{% endif %}
						</div>
					{% endfor %}
					{{ form(form)  }}
				</div>
			</div>
			<div class="col-md-2 sidebarNdem">
				<h2><span class="intitule">De : </span><a href="{{ path('nnp_platform_profilVisite', {'idVisiteur': ndem.user.id }) }}">{{ ndem.user }}</a></h2>
				<div class="photo">
						{% if ndem.user.photo != null or ndem.user.photo != '' %}
							<a href="{{ path('nnp_platform_profilVisite', {'idVisiteur': ndem.user.id }) }}"><img src="{{ asset('uploads/images/photoProfil/' ~ ndem.user.photo) }}" width="100%" /></a>
						{% else %}
							<a href="{{ path('nnp_platform_profilVisite', {'idVisiteur': ndem.user.id }) }}"><img src="{{ asset('bundles/nnpplatform/images/profil_homme.jpg' ) }}" width="100%" /></a>
						{% endif %}
				</div>
				<div class="liens">
					
						{# <p class="infoAuteur">
							{% if followersAuteur %}
							{{ followersAuteur }} <span class="intitule"> follower(s)</span> |
							{% endif %} 
							<span>
								{% if (app.user.id != ndem.user.id) %}
									<a href="{{ path('nnp_platform_profilVisite', {'idVisiteur': ndem.user.id }) }}">
										Voir le profil
									</a>
							    {% else %}
							    	<a href="{{ path('nnp_platform_profil', {'idVisiteur': ndem.user.id }) }}">
										Voir le profil
									</a>
								{% endif %}
							</span>
						</p> #}
					
					{% if ((app.user.id != ndem.user.id)  and (statutFollow != 1 )) %}
					<a href="{{ path('nnp_platform_leNdem',{'id': ndem.id,'idAFollow' : ndem.user.id }) }}">
						<div class="lien follow">Suivre l'auteur</div>
					</a>
					{% else %}
						<p class="infoAuteur"><span class="intitule"> Vous suivez déjà ce membre </span></p>
					{% endif %}
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>
	</section>
</div>
{% endblock %}