{% extends "NNPPlatformBundle::template.html.twig" %}
{% block title %}Homepage{% endblock %}
{% block menuUser %}
<ul class="nav navbar-nav">
    <li class="dropdown"> 
        <a data-toggle="dropdown" href="#">{{ app.user.username }}  <b class="caret"></b></a>
        <ul class="dropdown-menu jqueryFadeIn">
            <li><a href="{{ path('nnp_platform_profil', {'id': app.user.id }) }}">Mon profil</a></li>
            <li><a href="{{ path('nnp_platform_mesNdems') }}">Consulter mes ndems</a></li>
            <li><a href="{{ path('nnp_platform_creerNdem') }}">Créer un ndem</a></li>
            <li><a href="{{ path('nnp_platform_modifierPassword') }}">Modifier le mot de passe</a></li>        
            <li class="divider"></li>
            <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
        </ul>
    </li> 
</ul>
{% endblock %}
{% block body %}
<div class="container-fluid">
	{% if categorie == 'CARRIERE' %}
	<section class="liste" style="background-attachment:fixed; background-image: url('http://bedingue.com/web/bundles/nnpplatform/images/fondcarriere.jpg');">
	{% elseif categorie == 'NJOKA' %}
	<section class="liste" style="background-attachment:fixed; background-image: url('http://bedingue.com/web/bundles/nnpplatform/images/fondnjoka.jpg');">
	{% elseif categorie == 'RELIGION' %}
	<section class="liste" style="background-attachment:fixed; background-image: url('http://bedingue.com/web/bundles/nnpplatform/images/fondreligion.jpg');">
	{% elseif categorie == 'MODE' %}
	<section class="liste" style="background-attachment:fixed; background-image: url('http://bedingue.com/web/bundles/nnpplatform/images/fondmode.jpg');">
	{% elseif categorie == 'AMOUR' %}
	<section class="liste" style="background-attachment:fixed; background-image: url('http://bedingue.com/web/bundles/nnpplatform/images/fondamour.jpg');">
	{% elseif categorie == 'KWATT' %}
	<section class="liste" style="background-attachment:fixed; background-image: url('http://bedingue.com/web/bundles/nnpplatform/images/fondkwatt.jpg');">
	{% endif %}
		<div class="row">
			<div class="col-md-2"></div>

			<div class="col-md-7 center">
			<h1>{{ categorie }}</h1>
			<div class="formulaire">
				<div class="photo-post" style=" 
				{% if app.user.photo != null or app.user.photo != '' %}
				background-image: url('{{ asset('uploads/images/photoProfil/' ~ app.user.photo) }}');
				{% else %}
				background-image: url('{{ asset('bundles/nnpplatform/images/profil_homme.jpg' ) }}');
				{% endif %}	
				">
					
				</div>
                <div class="ndemFormCat">
                  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                  {{ form_errors(form) }}
                  {{ form_row(form.texte) }}
                  {{ form_rest(form) }}
                  {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                  {{ form_end(form) }}
                </div>
            </div>
            <div class="clear"></div>
			{% if listeNdems != null  %}
				{% for ndem in listeNdems|reverse %}
	            <div class="zone-ndem">
	            	<div class="nd date-ndem">{{ ndem.dateCreation|date("d/m/Y") }}</div>
	            	<div class="nd photo-ndem">
	            		
	            	</div>
	            	<div class="nd msg-ndem">
	            		<div class="photoNdemeur" style=" 
						{% if ndem.user.photo != null or ndem.user.photo != '' %}
						background-image: url('{{ asset('uploads/images/photoProfil/' ~ ndem.user.photo) }}');
						{% else %}
						background-image: url('{{ asset('bundles/nnpplatform/images/profil_homme.jpg' ) }}');
						{% endif %}	
						">
		            		
						</div>
	            		<div class="titre-ndem">{{ ndem.titre }}</div>
	            		{# <div class="texte-ndem">{{ ndem.texte|striptags|slice(0, 180)  }}</div> #}
	            		<div class="texte-ndem">{{ ndem.texte|striptags }}</div>
	            		{% if ndem.firstphoto != null or ndem.firstphoto != '' %}
							<div><img src="{{ asset('uploads/images/photoNdem/' ~ ndem.firstphoto) }}" width="100%" /></div>
						{% endif %}
						{% if ndem.secondphoto != null or ndem.secondphoto != '' %}
							<div><img src="{{ asset('uploads/images/photoNdem/' ~ ndem.secondphoto) }}" width="100%" /></div>
						{% endif %}
	            	</div>
	            	<div class="nd btn-ndem">
	            		<button onclick="location.href='{{ path('nnp_platform_leNdem', {id: ndem.id}) }}';" type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal">Voir +</button>
	            	</div>
	            	<div class="clear"></div>
	            	
	            </div>
	            <div class="commentListe">
					
					{% for comment in listeCom %}
						{% if comment.ndem.id == ndem.id and loop.index < 10 %}
							<div class="leComment leNdem">
								{# <div class="date">{{ comment.dateCreation|date('d/m/Y h:i') }}</div> #}
								{% if comment.user.profil != 'COACH' %}
									<div class="user"><strong>{{ comment.user }}</strong> - <i>le {{ comment.dateCreation|date('d/m/Y') }}</i> </div>
									<div class="post">{{ comment.commentaire }}</div>
								{% else %}
									<div class="userCoach">{{ comment.user }}</strong> - <i>le {{ comment.dateCreation|date('d/m/Y') }}</i></b></div>
									<div class="postCoach">{{ comment.commentaire }}</div>
								{% endif %}
							</div>
						{% endif %}
					{% endfor %}
					<div class="comment">
	                  {{ render(controller('NNPPlatformBundle:Homepage:commentaireListe', {'ndem': ndem.id })) }}
	                </div> 
				</div>
				{% endfor %}
			{% else %}
				<p>Il n'y a pas de sujets dans cette catégorie pour l'instant !</p>
			{% endif %}
			</div>
			<div class="col-md-3">
				{{ render(controller('NNPPlatformBundle:Homepage:suggestionNdemeur')) }}
			</div>
		</div>
	</section>
</div>
{% endblock %}