{% extends "NNPPlatformBundle::template.html.twig" %}
{% block title %}Homepage{% endblock %}
{% block menuUser %}
<ul class="nav navbar-nav">
    <li class="dropdown"> 
        <a data-toggle="dropdown" href="#">{{ app.user.username }}  <b class="caret"></b></a>
        <ul class="dropdown-menu jqueryFadeIn">
            <li><a href="{{ path('nnp_platform_profil', {'id': app.user.id }) }}">Mon profil</a></li>
            <li><a href="{{ path('nnp_platform_mesNdems') }}">Consulter mes ndems</a></li>
            <li><a href="{{ path('nnp_platform_creerNdem') }}">Créer un ndem</a></li>
            <li><a href="{{ path('nnp_platform_modifierPassword') }}">Modifier le mot de passe</a></li>        
            <li class="divider"></li>
            <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
        </ul>
    </li> 
</ul>
{% endblock %}
{% block body %}
<div class="container-fluid">
	{% if categorie == 'CARRIERE' %}
	<section class="liste" style="background-image: url('http://bedingue.com/web/bundles/nnpplatform/images/fondcarriere.jpg');">
	{% elseif categorie == 'NJOKA' %}
	<section class="liste" style="background-image: url('http://bedingue.com/web/bundles/nnpplatform/images/fondnjoka.jpg');">
	{% elseif categorie == 'RELIGION' %}
	<section class="liste" style="background-image: url('http://bedingue.com/web/bundles/nnpplatform/images/fondreligion.jpg');">
	{% elseif categorie == 'MODE' %}
	<section class="liste" style="background-image: url('http://bedingue.com/web/bundles/nnpplatform/images/fondmode.jpg');">
	{% elseif categorie == 'AMOUR' %}
	<section class="liste" style="background-image: url('http://bedingue.com/web/bundles/nnpplatform/images/fondamour.jpg');">
	{% elseif categorie == 'KWATT' %}
	<section class="liste" style="background-image: url('http://bedingue.com/web/bundles/nnpplatform/images/fondkwatt.jpg');">
	{% endif %}
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8 center">
			<h1>{{ categorie }}</h1>
			{% if listeNdems != null  %}
				{% for ndem in listeNdems %}
	            <div class="zone-ndem">
	            	<div class="nd date-ndem">{{ ndem.dateCreation|date("m/d/Y") }}</div>
	            	<div class="nd photo-ndem">
	            		
	            	</div>
	            	<div class="nd msg-ndem">
	            		{% if ndem.user.photo != null or ndem.user.photo != '' %}
	            		<img src="{{ asset('uploads/images/photoProfil/' ~ ndem.user.photo) }}"  title="{{ ndem.user.username }}" alt="{{ ndem.user.username }}"/>
	            		{% else %}
							<img src="{{ asset('bundles/nnpplatform/images/profil_homme.jpg' ) }}"  alt="{{ ndem.user.username }}" title="{{ ndem.user.username }}"/>
						{% endif %}
	            		<div class="titre-ndem">{{ ndem.titre }}</div>
	            		<div class="texte-ndem">{{ ndem.texte|striptags|slice(0, 180)  }}</div>
	            	</div>
	            	<div class="nd btn-ndem">
	            		<button onclick="location.href='{{ path('nnp_platform_leNdem', {id: ndem.id}) }}';" type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal">Voir +</button>
	            	</div>
	            	<div class="clear"></div>
	            </div>

				{% endfor %}
			{% else %}
				<p>Il n'y a pas de sujets dans cette catégorie pour l'instant !</p>
			{% endif %}
			</div>
			<div class="col-md-2"></div>
		</div>
	</section>
</div>
{% endblock %}