<ul class="nav navbar-nav">
    {# <li><a href="{{ path('nnp_platform_homepage') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li> #}
    <li><a href="{{ path('nnp_platform_liste', {nom:'CARRIERE'}) }}">CARRIERE <span class="statNdem">{{ nbrNdemCarrriere }}</span></a></li>
    <li><a href="{{ path('nnp_platform_liste', {nom:'NJOKA'}) }}">NJOKA <span class="statNdem">{{ nbrNdemNjoka }}</span></a></li>
    <li><a href="{{ path('nnp_platform_liste', {nom:'AMOUR'}) }}">AMOUR <span class="statNdem">{{ nbrNdemAmour }}</span></a></li>
    <li><a href="{{ path('nnp_platform_liste', {nom:'MODE'}) }}">MODE <span class="statNdem">{{ nbrNdemMode }}</span></a></li>
    <li><a href="{{ path('nnp_platform_liste', {nom:'RELIGION'}) }}">RELIGION <span class="statNdem">{{ nbrNdemReligion }}</span></a></li>
    <li><a href="{{ path('nnp_platform_liste', {nom:'KWATT'}) }}">KWATT <span class="statNdem">{{ nbrNdemKwatt }}</span></a></li>
</ul>