{% extends "NNPPlatformBundle::template.html.twig" %}
{% block title %}Homepage{% endblock %}

{% block body %}
<div class="container-fluid">
	<section class="profil">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-2 sidebar">
				<div class="photo" style=" 
				{% if app.user.photo != null or app.user.photo != '' %}
				background-image: url('{{ asset('uploads/images/photoProfil/' ~ app.user.photo) }}');
				{% else %}
				background-image: url('{{ asset('bundles/nnpplatform/images/profil_homme.jpg' ) }}');
				{% endif %}	
				">
				</div>
				<div class="identite">
					{# {% if app.user.pseudo == 0 %}
						<div class="nom">{{ app.user.prenom }} {{ app.user.nom|upper }}</div>
					{% endif %} #}
					<div class="nom"><b>{{ app.user.username }}</b></div>
					<div class="biographie"><b>{{ app.user.texte|raw }}</b></div>
				</div>
				<div class="followers">
					<span class="intitule">Ils vous suivent</span>
					{% for follower in followers %}
					<a href="{{ path('nnp_platform_profilVisite', {'idVisiteur': follower.id }) }}">
						{% if follower.photo != null or follower.photo != '' %}
						<img src="{{ asset('uploads/images/photoProfil/' ~ follower.photo) }}" width="80px"  title="{{ follower.username }}" alt="{{ follower.username }}"/>
						{% else %}
							<img src="{{ asset('bundles/nnpplatform/images/profil_homme.jpg' ) }}" width="80px" alt="{{ follower.username }}" title="{{ follower.username }}"/>
						{% endif %}
					</a>
					{% endfor %}
				</div>
				<div class="liens">
					{# <button onclick="location.href='{{ path('nnp_platform_mesNdems') }}';">Voir tous mes sujets</button>
					<button onclick="location.href='{{ path('nnp_platform_creerNdem') }}';">Créer un nouveau sujet</button> #}
					<button onclick="location.href='{{ path('nnp_platform_editerProfil') }}';">Modifier mon profil</button>
					<button onclick="location.href='{{ path('nnp_platform_modifierPassword') }}';">Modifier le mot de passe</button>
				</div>
				
			</div>
			<div class="col-md-6 center profil">
				<h1>Modifier les infos de connexion</h1>
				<div class="formulaire">
				  	{{ form(form) }}
				</div>
			</div>
			<div class="col-md-3">
				{{ render(controller('NNPPlatformBundle:Homepage:suggestionNdemeur')) }}
			</div>
		</div>
	</section>
</div>
{% endblock %}