{% extends "NNPPlatformBundle::template.html.twig" %}
{% block title %}Homepage{% endblock %}

{% block body %}
<div class="container-fluid visiteur">
	<section class="photoProfil">
		<div class="row">
			<div class="col-xs-1"></div>
			<div class="col-xs-4"></div>
			<div class="col-xs-2">
				<div class="photo" style=" 
				{% if user.photo != null or user.photo != '' %}
				background-image: url('{{ asset('uploads/images/photoProfil/' ~ user.photo) }}');
				{% else %}
				background-image: url('{{ asset('bundles/nnpplatform/images/profil_homme.jpg' ) }}');
				{% endif %}	
				">
				</div>
			</div>
			<div class="col-xs-4 info">
				{# {% if user.pseudo == 0 %}
					<div class="nom">{{ user.prenom }} {{ user.nom|upper }}</div>
				{% endif %} #}
				<div class="nom"><b>{{ user.username }}</b></div>
				{% if user.texte != null or user.texte != '' %}
				<div class="biographie">{{ user.texte|raw }}</b></div>
				{% endif %}
				<div class="follower"> {{ followers|length }} followers</div>
			</div>
			<div class="col-xs-1"></div>
		</div>
	</section>
	<section class="ndemsProfil">
		<div class="row">
			<div class="col-xs-1"></div>
			<div class="col-xs-1"></div>
			<div class="col-xs-8 text-center">
				{% if listeNdem != null  %}
						{% for ndem in listeNdem|reverse %}
			            <div class="zone-ndem">
			            	<div class="nd date-ndem">{{ ndem.dateCreation|date("d/m/Y") }}</div>
			            	<div class="nd photo-ndem">
			            		
			            	</div>
			            	<div class="nd msg-ndem">
			            		<div class="photoNdemeur" style=" 
								{% if ndem.user.photo != null or ndem.user.photo != '' %}
								background-image: url('{{ asset('uploads/images/photoProfil/' ~ ndem.user.photo) }}');
								{% else %}
								background-image: url('{{ asset('bundles/nnpplatform/images/profil_homme.jpg' ) }}');
								{% endif %}	
								">
				            		
								</div>
			            		<div class="titre-ndem">{{ ndem.titre }}</div>
			            		<div class="texte-ndem">{{ ndem.texte|striptags|slice(0, 180)  }}</div>
			            	</div>
			            	<div class="nd btn-ndem">
			            		<button onclick="location.href='{{ path('nnp_platform_leNdem', {id: ndem.id}) }}';" type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal">Voir +</button>
			            	</div>
			            	<div class="clear"></div>
			            </div>

						{% endfor %}
					{% else %}
						<p>{{ user.username }} n'a pas encore ndem !</p>
					{% endif %}
				</div>
				<div class="col-xs-1"></div>
				<div class="col-xs-1"></div>
			</div>
	</section>
</div>
{% endblock %}



