{% extends "NNPPlatformBundle::template.html.twig" %}
{% block title %}Homepage{% endblock %}
{% block menuUser %}
<ul class="nav navbar-nav">
    <li class="dropdown"> 
        <a data-toggle="dropdown" href="#">{{ app.user.username }}  <b class="caret"></b></a>
        <ul class="dropdown-menu jqueryFadeIn">
            <li><a href="{{ path('nnp_platform_profil', {'id': app.user.id }) }}">Mon profil</a></li>
            <li><a href="{{ path('nnp_platform_mesNdems') }}">Consulter mes ndems</a></li>
            <li><a href="{{ path('nnp_platform_creerNdem') }}">Créer un ndem</a></li>
            <li><a href="{{ path('nnp_platform_modifierPassword') }}">Modifier le mot de passe</a></li>        
            <li class="divider"></li>
            <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
        </ul>
    </li> 
</ul>
{% endblock %}
{% block body %}
<div class="container">
	<section class="profil">
		<div class="row">
			<div class="col-md-4 sidebar">
				<div class="photo">
					{% if user.photo != null or user.photo != '' %}
						<img src="{{ asset('uploads/images/photoProfil/' ~ user.photo) }}" width="100%" />
					{% else %}
						<img src="{{ asset('bundles/nnpplatform/images/profil_homme.jpg' ) }}" width="100%" />
					{% endif %}
				</div>
				<div class="identite">
					{% if user.pseudo == 0 %}
						<div class="nom">{{ user.prenom }} {{ user.nom|upper }}</div>
					{% endif %}
					<div class="nom"><span class="intitule">Pseudo : </span><b>{{ user.username }}</b></div>
				</div>
				<div class="liens">
					<button onclick="location.href='{{ path('nnp_platform_ndemVisite', {'idVisite': user.id }) }}';">Voir ses sujets</button>
				</div>
				
			</div>
			<div class="col-md-8 center">
				<div class="description">
					<h1>A propos du membre</h1>
					<p>
						{{ user.texte|raw }}
					</p>
				</div>
				<div class="divider"></div>
				<div class="info">
					<h1>Vos stats</h1>
					<div class="bloc">
						<p><span class="glyphicon glyphicon-pencil chiffre"></span><span class="chiffre"><a href="{{ path('nnp_platform_ndemVisite',{'idVisite': user.id }) }}">{{ nbrNdem }}</a></span> sujet(s) posté(s)</p>
						<p><span class="glyphicon glyphicon-comment chiffre"></span><span class="chiffre">{{ nbrCom }}</span> commentaires</p>
					</div>
					<div class="bloc">
						<p><span class="glyphicon glyphicon-user chiffre"></span><span class="chiffre">4 </span> coachs ont réagis à vos sujets </p>
					</div>
				</div>
				<div class="divider"></div>
				<div class="follower">
					<h1>Ils vous suivent</h1>
					{% for follower in followers %}
					<a href="{{ path('nnp_platform_profilVisite', {'idVisiteur': follower.id }) }}">
						{% if follower.photo != null or follower.photo != '' %}
						<img  src="{{ asset('uploads/images/photoProfil/' ~ follower.photo) }}" width="80px"  title="{{ follower.username }}" alt="{{ follower.username }}"/>
						{% else %}
							<img  src="{{ asset('bundles/nnpplatform/images/profil_homme.jpg' ) }}" width="80px" alt="{{ follower.username }}" title="{{ follower.username }}"/>
						{% endif %}
					</a>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
</div>
{% endblock %}


