{% extends "::base.html.twig" %}
{% block menu %}
{{ render(controller('NNPPlatformBundle:Homepage:menu')) }}
{% endblock %}
{% block chercheMembre %}
    {{ render(controller('NNPPlatformBundle:Homepage:chercheMembre')) }}
{% endblock %}
{% block photoConnecte %}
    <li >
        <a href="{{ path('nnp_platform_profil') }}">
            <div class="photoConnecte" style=" 
                    {% if app.user.photo != null or app.user.photo != '' %}
                    background-image: url('{{ asset('uploads/images/photoProfil/' ~ app.user.photo) }}');
                    {% else %}
                    background-image: url('{{ asset('bundles/nnpplatform/images/profil_homme.jpg' ) }}');
                    {% endif %} 
                    ">
                {# {% if app.user.photo != null or app.user.photo != '' %}
                    <a href="{{ path('nnp_platform_profil') }}"><img src="{{ asset('uploads/images/photoProfil/' ~ app.user.photo) }}" height="102px" /></a>
                {% else %}
                    <a href="{{ path('nnp_platform_profil') }}"><img src="{{ asset('bundles/nnpplatform/images/profil_homme.jpg' ) }}" height="102px" /></a>
                {% endif %} #}
            </div>
        </a>
    </li>
{% endblock %}

{% block bande %}
{% endblock %}

{% block bigBody %}
    <div class="corps">
        {% block body %}
        {% endblock %}
    </div>
{% endblock %}
